@page
@model DogNet.Pages.InstituicoesModel
@{
}

<html>
<head>

</head>
<body>
    @if (true)
    {
        Models.Instituicoes vwInst = new Models.Instituicoes();
        string nm = Controllers.FrontSupport.SelectReader();
        foreach (var item in Controllers.FrontSupport.ReturnInstituicoes())
        {
            if ( == item.Nome)
            {
                  <h1>@item.Nome</h1>
                  <p>@item.Description</p>
            }
        }


    }
</body>
</html>
