@page
@model DogNet.Pages.InstituicoesModel
@{
}

<html>
<head>

</head>
<body>
    @if (true)
    {
        Models.Instituicoes vwInst = new Models.Instituicoes();
        foreach (var item in Controllers.FrontSupport.ReturnInstituicoes())
        {
            if (vwInst.Nome == item.Nome)
            {
                <h1></h1>
            }
        }


    }
</body>
</html>
