@page
@model DogNet.Pages.InstituicoesModel
@{
}

<html>
<head>

</head>
<body>
    @if (true)
    {
        Models.Instituicoes vwInst = new Models.Instituicoes();
        foreach (var item in Controllers.FrontSupport.SelectInfoInst())
        {
            if (vwInst.Nome != item.Nome)
            {
                <h1>@item.Nome</h1>
                <p>@item.Description</p>
                <p> Numero : @item.Telefone</p>
                <p>@item.Email</p>

            }
        }


    }
</body>
</html>
